*{
  margin:0;
  padding:0;
  box-sizing:border-box
}

.logo{
  width:210px;
  margin-top:10px;
}

ul{
  list-style: none;
}
.main-nav li{
  margin-right:20px;
}
.main-nav{
  display:flex

}